.skil-progress {
  padding: 5px 20px;
}

.skil-progress .progress-name {
  height: 35px;
  border: 1px solid #dc3545;
  border-right: 1px solid #fff;
  color: #fff;
  background-color: #dc3545;
  text-align: center;
  font-weight: 500;
  line-height: 35px;
  cursor: none;
  opacity: 0.9;
}

.skil-progress .progress-name:hover {
  opacity: 1;
  font-weight: bold;
}

.progress-outer {
  width: 90%;
  height: 35px;
  padding: 2px 2px 2px 2px !important;
  border: 2px solid #dc3545;
  border-left: 20px solid #fff;
}

.progress-in {
  margin: 0;
  height: 100%;
  color: #dc3545;
  padding-left: 5px;
  transition: all ease-in-out 0.5;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    #dc3545
  );
}
